### Import Library and load data

In [2]:
import pandas as pd
import os.path
df_batsmen = pd.read_pickle(os.path.abspath('') + '\\..\\Derived stats\\batsmen_stats.pkl')
df_bowlers = pd.read_pickle(os.path.abspath('') + '\\..\\Derived stats\\bowlers_stats.pkl')

In [42]:
df_batsmen.head(5)

        Name Match ID        Date Runs Scored Balls Faced
0  DA Warner        1  2017-04-05          14           9
1  DA Warner        6  2017-04-09          76          47
2  DA Warner       10  2017-04-12          49          34
3  DA Warner       14  2017-04-15          26          31
4  DA Warner       19  2017-04-17          70          57

In [43]:
df_bowlers.head(5)

       Name  match_id  economy  no_of_wickets        date
0  TS Mills         1     8.00              1  2017-04-05
1  TS Mills         5     8.25              1  2017-04-08
2  TS Mills         8    12.00              1  2017-04-10
3  TS Mills        12     9.25              0  2017-04-14
4  TS Mills        27     7.75              2  2017-04-23

In [44]:
match_dates = df_batsmen['Date'].unique()
batsmen = df_batsmen['Name'].unique()
bowlers = df_bowlers['Name'].unique()

### Calculate Average stats for batsmen and bowlers

In [45]:
batsmen_average_data = []
for m_date in match_dates:
    for b_man in batsmen:
        b_man_df = df_batsmen[df_batsmen['Name'] == b_man]
        b_man_date_df = b_man_df[b_man_df['Date'] < m_date]
        if len(b_man_date_df) == 0:
            continue
        avg_run = b_man_date_df['Runs Scored'].sum(axis=0, skipna=True)/len(b_man_date_df)
        avg_ball_faced = b_man_date_df['Balls Faced'].sum(axis=0, skipna=True)/len(b_man_date_df)
        batsmen_average_data.append([b_man, m_date, avg_run, avg_ball_faced])
df_batsmen_avg_stats = pd.DataFrame(batsmen_average_data, columns = ['Name', 'Date', 'Batting Average', 'Average Balls Faced'])

In [47]:
bowlers_average_data = []
for m_date in match_dates:
    for b_man in bowlers:
        b_man_df = df_bowlers[df_bowlers['Name'] == b_man]
        b_man_date_df = b_man_df[b_man_df['date'] < m_date]
        if len(b_man_date_df) == 0:
            continue
        avg_no_of_wickets = b_man_date_df['no_of_wickets'].sum(axis=0, skipna=True)/len(b_man_date_df)
        avg_economy = b_man_date_df['economy'].sum(axis=0, skipna=True)/len(b_man_date_df)
        bowlers_average_data.append([b_man, m_date, avg_no_of_wickets, avg_economy])
df_bowlers_avg_stats = pd.DataFrame(bowlers_average_data, columns = ['Name', 'Date', 'Average no of wickets', 'Average economy'])

### Save calculated stats

In [48]:
df_batsmen_avg_stats.to_pickle(os.path.abspath('') + '\\..\\Derived stats\\batsmen_average_data.pkl')
df_bowlers_avg_stats.to_pickle(os.path.abspath('') + '\\..\\Derived stats\\bowlers_average_data.pkl')